{{define "main"}}
{{ range $name, $taxonomy := .Site.Taxonomies.projects }}
<li><a href="{{ "projects/" | relLangURL }}{{ $name | urlize }}">{{ .Page.Title }} ({{ .Count }})</a></li>
{{ end }}
{{end}}